$primary-color: #211a1a;
$primary-text-color: #ece0df; 
$primary-accent-color: #5f121c;
$primary-accent-text-color: #ffb3b6;
$secondary-accent-color: #e6bcbc;
$secondary-accent-text-color: #44292a;

$background-layer-one: #2B2424;
$background-layer-two: #352C2C;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
